/* colors:  */

:root {
  --color-1: #0016BE;
  --color-2: #FFBC00;
  --color-3: #FF00AC;
  --color-4: #52CCFF;
  --color-5: #FFA1E3;
  --color-6: #00A448;
}

.blue { color: var(--color-1); }
.yellow { color: var(--color-2); }
.magenta { color: var(--color-3); }
.cyan { color: var(--color-4); }
.pink { color: var(--color-5); }
.green { color: var(--color-6); }

img {
  margin: 20px;
}

h1 {
  font-size: 20px;
  font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
  margin: 0;
}

.small-text {
  font-size: 12px;
}

.no-margin {
  margin: 0;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.redacted-text {
  background-color: #D0CBF0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.nav-back {
  font-size: 20px;
  text-align: left;
}

.nav-forward {
  font-size: 20px;
  text-align: right;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    position: static; /* Remove fixed positioning on mobile */
    margin-top: 20px; /* Add some space above the footer */
  }

  .about-us-container {
    padding-bottom: 20px; /* Reduce padding on mobile */
  }
}

.footer-text {
  text-align: center;
  margin: 5px 0;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-1);
}

.clickable:hover {
  cursor: pointer;
  /* text-decoration: none; */
  color: var(--color-6);
}

