/* colors:  */

:root {
  --color-1: #0016BE;
  --color-2: #FFBC00;
  --color-3: #FF00AC;
  --color-4: #52CCFF;
  --color-5: #FFA1E3;
  --color-6: #00A448;
  --color-7: #F9ECB6;
  --color-8: #7EC86E;
}

.blue { color: var(--color-1); }
.yellow { color: var(--color-2); }
.magenta { color: var(--color-3); }
.cyan { color: var(--color-4); }
.pink { color: var(--color-5); }
.green { color: var(--color-6); }
.vanilla { color: var(--color-7); }
.sage {color: var(--color-8)}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  width: 100%;
}

img {
  margin: 20px;
}

h1 {
  font-size: 20px;
  font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
  margin: 0;
}

.small-text {
  font-size: 12px;
}

.no-margin {
  margin: 0;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.redacted-text {
  background-color: #D0CBF0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-back {
  font-size: 20px;
  text-align: left;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .nav-back {
    font-size: 18px;
    margin-left: 30px;
    margin-top: 10px;
  }
}

.nav-forward {
  font-size: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .nav-forward {
    font-size: 18px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}

.footer-wrapper {
  flex-shrink: 0;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .content-wrap {
    padding-bottom: 20px;
  }
}

.footer-text {
  text-align: center;
  margin: 5px 0;
}

.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-1);
}

.clickable:hover {
  cursor: pointer;
  /* text-decoration: none; */
  color: var(--color-6);
}

.breakable-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ===== IMAGES ===== */

.float-left {
  float: left;
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
  height: auto;
  margin-left: 15px;
  margin-bottom: 10px;
}

.img-tiny {
  width: 80px;
}

.img-small {
  width: 150px;
}

.img-medium {
  width: 200px;
}

.img-large {
  width: 250px;
}

.img-xl {
  width: 300px;
}

.flip-horizontal {
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .float-right, .float-left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .content-with-image img.float-right {
    text-align: center;
  }

  .content-with-image img.float-right {
    max-width: 300px;
  }
}

.shape-circle {
  float: left;
  width: 180px; /* Adjust size as needed */
  height: 180px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 50%; /* Makes the image visually circular */
  shape-outside: circle(50%); /* Creates circular text wrapping */
  object-fit: cover; /* Ensures the image fills the circle */
}
