body {
  background-color: var(--color-4);
  text-align: center;
  font-family: 'Times New Roman', serif;
}

h1 {
  font-size: 40px;
  font-family: 'Times New Roman', serif;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}

/* visitor counter */

.visitor-counter {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.counter-image {
  height: 30px;
  margin: 0;
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .counter-image {
    margin-top: 5px;
    height: 15px;
  }

  .visitor-counter {
    font-size: 12px;
  }
}

img {
  margin: 20px;
}

/* marquee links */

.marquee-link {
  font-size: 25px;
  margin: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .marquee-link {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.marquee-link:hover {
  color: var(--color-2);
}

/* logo */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 436px;
  overflow: hidden;
}

.logo-wrapper {
  position: relative;
  width: 30%;
  max-width: 300px;
  height: 300px;
  margin: 10px;
}

.logo-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-placeholder::after {
  color: #888;
}

.logo-gif {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo-gif.loaded {
  opacity: 1;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .always-show {
    width: 100%;
    max-width: 300px;
  }
  .logo-container {
    max-height: none;
  }
  .logo-wrapper {
    width: 100%;
    max-width: 300px;
  }
}

/* nav links */

.learn-more {
  margin-top: 10px;
}

.learn-more p {
  font-size: 18px;
  margin: 0;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    margin-top: 10px;
  }

  .menu-container a {
    height: 30px;
  }
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 30px;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 20px;
    margin-right: 5px;
  }
}

.nav-icon {
  width: 15px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .nav-icon {
    width: 10px;
  }
}

.construction {
  font-size: 20px;
  margin: 20px 0 0 0;
}

@media (max-width: 768px) {
  .construction {
    font-size: 15px;
  }
}
