  @font-face {
    font-family: "CustomComicSans";
    src: url("../fonts/COMICSANS.TTF");
  }

  @font-face {
    font-family: "CustomComicSansBold";
    src: url("../fonts/COMICSANSBOLD.TTF");
  }

  strong {
    font-family: "CustomComicSansBold";
  }

  body {
    text-align: center;
    font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
  }

  img {
    margin: 20px;
  }

  h1 {
    font-size: 20px;
    font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
    margin: 0;
  }

  .small-text {
    font-size: 12px;
  }

  .no-margin {
    margin: 0;
  }

  .event-page-description {
    display: block;
    text-align: left;
  }

  .principles-and-rules {
    display: block;
    text-align: left;
    width: 800px;
    font-size: 20px;
  }

  .festival-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
  }

  .consent-to-rules {
    font-size: 20px;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .d-flex-center {
    display: flex;
    justify-content: center;
  }

  .redacted-text {
    background-color: #D0CBF0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
  }

  /* links */

  .link {
    text-decoration: none;
    color: var(--color-3);
  }

  .link:hover {
    text-decoration: underline;
    color: var(--color-5);
  }

  .ticket-link {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-1);
    transition: color 0.5s;
  }

  .ticket-link:hover {
    text-decoration: underline;
    color: var(--color-6);
  }

  /* contact-info */
  .contact-info {
    display: inline;
    text-align: center;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .contact-info .link {
    display: inline;
  }

  #footer-component {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    #footer-component {
      font-size: 10px;
    }
  }

  /* colors:  */

  :root {
    --color-1: #0016BE;
    --color-2: #FFBC00;
    --color-3: #FF00AC;
    --color-4: #52CCFF;
    --color-5: #FFA1E3;
    --color-6: #00A448;
  }

  .color-one { color: var(--color-1); }
  .color-two { color: var(--color-2); }
  .color-three { color: var(--color-3); }
  .color-four { color: var(--color-4); }
  .color-five { color: var(--color-5); }
  .color-six { color: var(--color-6); }
