@font-face {
  font-family: "CustomComicSans";
  src: url("../fonts/COMICSANS.TTF");
}

@font-face {
  font-family: "CustomComicSansBold";
  src: url("../fonts/COMICSANSBOLD.TTF");
}

strong {
  font-family: "CustomComicSansBold";
}

body {
  background-color: #82d5f5;
  text-align: center;
  font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
}

marquee {
  font-size: 24px;
}

img {
  margin: 20px;
}

h1 {
  font-size: 20px;
  font-family: "CustomComicSans", "Comic Sans MS", sans-serif;
  margin: 0;
}

.construction {
  font-size: 30px;
  color: #ff0000;
}

.small-text {
  font-size: 12px;
}

.no-margin {
  margin: 0;
}

.event-page-description {
  display: block;
  text-align: left;
}

.principles-and-rules {
  display: block;
  text-align: left;
  width: 800px;
  font-size: 20px;
}

.festival-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
}

.consent-to-rules {
  font-size: 20px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

/* colors:  */
.dark-blue {
  color: #125a7a;
}

.blue {
  color: #1c9ebd;
}

.light-blue {
  color: #82d5f5;
}

.dark-orange {
  color: #f6851f;
}

.orange {
  color: #fcb711;
}
